/* 
@keyframes toWhiteColor {
  0% (rgb(21, 87, 41));
  100% {}
  
} */

:root {
  --main-color: rgb(21, 87, 41);
  --second-color: rgb(218, 164, 155);
  font-size: 16px;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 440px) {
  :root {
    font-size: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #daa49b;
}

.slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1% 85% 14%;
  row-gap: 0;
  margin: 2rem auto;
  width: 80vw;
  max-width: 40rem;
  height: 80vw;
  max-height: 40rem;
  overflow: hidden;
  box-sizing: content-box;
  background-color: var(--main-color);
  border: 0.5rem solid var(--main-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
  .slider {
    grid-template-rows: 1% 85% 5% 9%;
  }
}

.slides-wrapper {
  width: 400%;
  display: flex;
  flex-wrap: nowrap;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  transition: all 0.4s ease-in-out;
}

.slide {
  width: 100%;
  transition: all 1s ease;
  object-fit: fill;
  z-index: 0;
}

.text {
  height: 3rem;
  overflow: hidden;
  /* margin-top: 2rem; */
  grid-column: 1 / 3;
  padding: 0.5rem 1rem 0;
  align-self: center;
}

@media (max-width: 576px) {
  .text {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    padding: 0;
    padding-top: 0.5rem;
  }
}

.text__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 400%;
  height: 1.2rem;
  transition: all 0.5s ease-out;
}

@media (max-width: 576px) {
  .text__wrapper {
    padding-top: 0.5rem;
  }
}

p {
  display: inline-block;
  width: 50%;
  font-family: "Fira Sans Condensed", sans-serif;
  /* padding-right: 2rem; */
  color: var(--main-color);
  transition: all 0.6s ease;
  /* transition: color 0.5rem; */
}
@media (max-width: 576px) {
  p {
    text-align: center;
    font-size: 1.1rem;
    /* padding-right: 10%; */
  }
}

.navigation {
  grid-column: 3 / 5;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  z-index: 3;
  background-color: var(--main-color);
}

@media (max-width: 576px) {
  .navigation {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    margin-top: 0.8rem;
    padding: 0;
    justify-content: center;
  }
}

input {
  appearance: none;
  width: 0;
  height: 0;
}

label {
  background-color: rgba(255, 255, 255, 0.4);
  border: 0.1rem solid #ffffff;
  margin-left: 1px;
  width: 2.5rem;
  height: 0.6rem;
  cursor: pointer;
  text-align: center;
  line-height: 1.4em;
  border: 0.6rem solid var(--main-color);
  border-radius: 1rem;
  box-sizing: content-box;
  transition: all 0.2s ease;
}

label:active {
  transform: scale(85%);
}

label:hover {
  background-color: var(--second-color);
}

/* ----- активный label ----- */
#r1:checked ~ .navigation > label[for="r1"] {
  background-color: #ffffff;
}

#r2:checked ~ .navigation > label[for="r2"] {
  background-color: #ffffff;
}

#r3:checked ~ .navigation > label[for="r3"] {
  background-color: #ffffff;
}

#r4:checked ~ .navigation > label[for="r4"] {
  background-color: #ffffff;
}

/* ----- смещение слайдов ----- */
#r1:checked ~ .slides-wrapper {
  translate: 0%;
}

#r2:checked ~ .slides-wrapper {
  translate: -25%;
}

#r3:checked ~ .slides-wrapper {
  translate: -50%;
}

#r4:checked ~ .slides-wrapper {
  translate: -75%;
}

/* ----- смещение подписей ----- */
#r1:checked ~ .text > .text__wrapper {
  transform: translateX(0%);
}

#r1:checked ~ .text > .text__wrapper > p:nth-of-type(1) {
  color: rgb(255, 255, 255);
}

#r2:checked ~ .text > .text__wrapper {
  transform: translateX(-25%);
}
#r2:checked ~ .text > .text__wrapper > p:nth-of-type(2) {
  color: rgb(255, 255, 255);
}

#r3:checked ~ .text > .text__wrapper {
  transform: translateX(-50%);
}
#r3:checked ~ .text > .text__wrapper > p:nth-of-type(3) {
  color: rgb(255, 255, 255);
}
#r4:checked ~ .text > .text__wrapper {
  transform: translateX(-75%);
}
#r4:checked ~ .text > .text__wrapper > p:nth-of-type(4) {
  color: rgb(255, 255, 255);
}
